pkgbase = quickbox-qt
	pkgdesc = Qt6/PySide6 GUI front-end for quickemu
	pkgver = 1.2.3
	pkgrel = 1
	url = https://github.com/musqz/quickbox-qt
	arch = any
	license = MIT
	depends = python
	depends = pyside6
	depends = quickemu
	depends = rsync
	depends = xdg-utils
	optdepends = virt-viewer: SPICE display backend support
	provides = quickbox
	conflicts = quickbox
	source = quickbox-qt-1.2.3.tar.gz::https://github.com/musqz/quickbox-qt/archive/v1.2.3.tar.gz
	sha256sums = abc9b9295526de040f665c272fd60ad3c193aa15f99dfc41755b534c1376ee07

pkgname = quickbox-qt
